.contacts {
  width: 50%;
  min-height: 337px;
  padding-top: 64px;
  padding-right: 0;
  padding-bottom: 45px;
  padding-left: 120px;
}

.contacts h2 {
  padding-bottom: 45px;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3px;
}

.contacts__wrapper div {
  width: 37%;
  margin-right: 26.8%;

  &:nth-of-type(2n) {
    width: 30%;
    margin-right: 0;
  }
}

.contacts__address {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    right: -63px;
    height: 102px;
    width: 1px;
    background-color: #74819c;
  }
}

.contacts h3 {
  margin: 0;
  padding-bottom: 3px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.contacts p {
  margin: 0;
  padding-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.contacts a {
  color: #102654;
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 100%;
    min-height: 324px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .contacts__container {
    width: 68%;
    padding-top: 66px;
    padding-right: 20px;
    padding-bottom: 46px;
    padding-left: 10px;
    margin: 0 auto;
  }

  .contacts h2 {
    padding-bottom: 36px;
  }

  .contacts h3 {
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 30px;
  }

  .contacts p {
    padding-bottom: 18px;
    font-size: 18px;
    line-height: 27px;
  }

  .contacts__wrapper {
    padding-left: 0;
  }

  .contacts__wrapper div {
    width: 45%;
    margin-right: 18.8%;
  }

  .contacts__address::before {
    right: -46px;
    height: 131px;
  }
}

@media (max-width: $mobile-width) {
  .contacts {
    min-height: 507px;
  }

  .contacts__container {
    width: 320px;
    margin: 0 auto;
    padding-top: 66px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
  }

  .contacts h2 {
    padding-bottom: 37px;
  }

  .contacts h3 {
    padding-bottom: 6px;
    font-size: 20px;
    line-height: 30px;
  }

  .contacts p {
    padding-bottom: 21px;
  }

  .contacts__wrapper div {
    width: 100%;
    margin-right: 0;
    margin-bottom: -2px;

    &:nth-of-type(2n) {
      width: 100%;
    }
  }

  .contacts__address::before {
    width: 0;
    height: 0;
  }
}
