.description {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 120px;
}

.description__text-wrapper {
  width: 50%;
  padding-top: 56px;
  padding-right: 45px;
  padding-bottom: 20px;
}

.description h2 {
  margin: 0;
  padding-bottom: 24px;

  @include title-desktop;
}

.description p {
  margin: 0;
}

.description__image-wrapper {
  width: 48.27%;
  height: 301px;
}

.description img {
  display: block;
  height: 301px;
  object-fit: cover;
}

@media (max-width: $tablet-width) {
  .description {
    padding-top: 90px;
    padding-bottom: 92px;
  }

  .description__text-wrapper {
    padding-top: 0;
    padding-right: 14px;
    padding-bottom: 0;
  }

  .description h2 {
    margin: 0;
    padding-bottom: 17px;

    @include title-tablet;
  }

  .description__image-wrapper {
    width: 47.79%;
    height: 264px;
    padding-top: 10px;
  }

  .description img {
    height: 264px;
  }
}

@media (max-width: $mobile-width) {
  .description {
    padding-top: 57px;
    padding-right: 15px;
    padding-bottom: 66px;
    padding-left: 15px;
    margin: 0 auto;
    flex-direction: column;
  }

  .description__text-wrapper {
    width: 100%;
    padding-right: 0;
    padding-bottom: 33px;
  }

  .description h2 {
    margin: 0;
    padding-bottom: 15px;

    @include title-mobile;
  }

  .description__image-wrapper {
    width: 100%;
    height: 186px;
    padding-top: 0;
  }

  .description img {
    height: 186px;
    object-fit: contain;
  }
}

@media (max-width: 321px) {
  .description img {
    height: 186px;
    object-fit: cover;
  }
}
