.main-banner {
  width: 82.76%;
  min-height: 556px;
  padding-right: 48.51%;
  margin-top: -5px;
  background: url("../img/main-banner-desktop@1x.jpg") no-repeat top right;
  background-size: 52% auto;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .main-banner {
    background-image: url("../img/main-banner-desktop@2x.jpg");
    background-size: 52% auto;
  }
}

.main-banner__title {
  position: relative;
  width: 397px;
}

.main-banner h1 {
  margin: 0;
  margin-bottom: 61px;
  padding-top: 64px;
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-size: 109px;
  line-height: 109px;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.03em;
  color: $white;
  text-transform: uppercase;
  text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
}

.main-banner span {
  padding-left: 53%;
  font-size: 49px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-shadow: none;
}

.main-banner ul {
  @include list-reset;

  position: absolute;
  top: 306px;
  left: 5%;
  text-align: right;
  font-size: 14px;
  line-height: 21px;
  color: $white;
}

.main-banner a {
  @include button;
  width: 234px;
  padding-top: 22px;
  padding-bottom: 17px;
  margin-left: 41%;
}

@media (max-width: $tablet-width) {
  .main-banner {
    width: 100%;
    min-height: 390px;
    padding-right: 52%;
    padding-left: 10%;
    margin-top: 0;
    background: url("../img/main-banner-tablet@1x.jpg") no-repeat top right;
    background-size: 48% auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .main-banner {
      background-image: url("../img/main-banner-tablet@2x.jpg");
      background-size: 48% auto;
    }
  }

  .main-banner__title {
    width: 326px;
  }

  .main-banner h1 {
    position: relative;
    margin-bottom: 46px;
    padding-top: 86px;
    font-size: 86px;
    line-height: 86px;
  }

  .main-banner span {
    position: absolute;
    top: 50px;
    right: 0;
    padding-left: 53%;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.03em;
  }

  .main-banner ul {
    top: 185px;
    left: 0;
    padding-bottom: 59px;
  }

  .main-banner a {
    width: 189px;
    margin-left: 42%;
  }
}

@media (max-width: 940px) {
  .main-banner {
    padding-left: 0;
  }
}

@media (max-width: $mobile-width) {
  .main-banner {
    min-height: 320px;
    padding-right: 0;
    margin-top: 0;
    background: none;
  }

  .main-banner__title {
    width: 290px;
    margin: 0 auto;
  }

  .main-banner h1 {
    position: static;
    margin-bottom: 50px;
    padding-left: 77px;
    padding-top: 3px;
    font-size: 78px;
    line-height: 78px;
  }

  .main-banner span {
    position: static;
    padding-left: 60%;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.03em;
  }

  .main-banner ul {
    top: 170px;
    left: 0;
  }

  .main-banner a {
    width: 290px;
    margin: 0 auto;
  }
}
