.page-footer {
  padding-top: 50px;
  padding-bottom: 39px;
  background-color: $dark-blue;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__nav {
  justify-content: flex-start;
  width: 70%;
  padding-left: 10px;
}

.page-footer__nav li {
  margin-left: 3.95%;
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-top: 48px;
    padding-bottom: 39px;
  }

  .page-footer__nav {
    width: 75%;
    padding-left: 0;
  }

  .page-footer__nav li {
    margin-left: 4.67%;
  }

  .page-footer a {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding-top: 39px;
    padding-bottom: 26px;
  }

  .page-footer__container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-footer__logo {
    padding-bottom: 20px;
  }

  .page-footer__nav {
    flex-direction: column;
    width: 100%;
    padding-left: 0;
  }

  .page-footer__nav li {
    margin-left: 0;
  }

  .page-footer__nav a {
    margin-bottom: 7px;
  }
}
