.page-footer {
  padding-top: 44px;
  padding-bottom: 30px;
  background-color: #030a1a;
}

.page-footer__container {
  display: flex;
  flex-wrap: wrap;
}

.page-footer__nav {
  justify-content: flex-start;
  width: 55%;
  margin-left: 21.1%;
}

.page-footer__nav li {
  margin-right: 6.7%;
  margin-bottom: 15px;
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-top: 44px;
    padding-bottom: 27px;
  }

  .page-footer__nav {
    width: 61%;
    padding-left: 0;
    margin-left: 9.3%;
  }

  .page-footer__nav li {
    margin-right: 7.2%;

    &:last-child {
      margin-right: 0;
    }
  }

  .page-footer__logo {
    padding-top: 4px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding-top: 43px;
    padding-bottom: 26px;
  }

  .page-footer__container {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-footer__logo {
    position: absolute;
    top: 2px;
    left: 13px;
  }

  .page-footer__nav {
    width: 290px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin-left: 0;
  }

  .page-footer__nav li {
    width: 44%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 22px;
  }
}
