.trainers {
  padding-top: 114px;
  padding-bottom: 120px;
  color: $white;
}

.trainers__nav-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.trainers__info {
  display: none;
}

.trainers h3 {
  position: relative;
  z-index: 2;
  margin: 0;
  padding-top: 81%;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: $white;
}

.trainers__swiper-slide {
  box-sizing: border-box;
}

.trainers__slide-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 113.08%;
}

.trainers__slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 22px;
  padding-left: 10px;

  &:hover,
  &:focus {
    .trainers__info {
      display: block;
      position: relative;
      z-index: 2;
    }

    h3 {
      padding-top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(16, 38, 84, 0.89);
    }
  }
}

.trainers__swiper-slide--anna .trainers__slide-image {
  background: url("../img/anna-desktop@1x.jpg") no-repeat top center;
  background-color: #ced1d4;
  background-size: cover;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .trainers__swiper-slide--anna .trainers__slide-image {
    background-image: url("../img/anna-desktop@2x.jpg");
    background-size: cover;
  }
}

.trainers__swiper-slide--alex .trainers__slide-image {
  background: url("../img/alex-desktop@1x.jpg") no-repeat top center;
  background-color: #ced1d4;
  background-size: cover;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .trainers__swiper-slide--alex .trainers__slide-image {
    background-image: url("../img/alex-desktop@2x.jpg");
    background-size: cover;
  }
}

.trainers__swiper-slide--alexander .trainers__slide-image {
  background: url("../img/alexander-desktop@1x.jpg") no-repeat top center;
  background-color: #ced1d4;
  background-size: cover;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .trainers__swiper-slide--alexander .trainers__slide-image {
    background-image: url("../img/alexander-desktop@2x.jpg");
    background-size: cover;
  }
}

.trainers__swiper-slide--maria .trainers__slide-image {
  background: url("../img/maria-desktop@1x.jpg") no-repeat top center;
  background-color: #ced1d4;
  background-size: cover;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .trainers__swiper-slide--maria .trainers__slide-image {
    background-image: url("../img/maria-desktop@2x.jpg");
    background-size: cover;
  }
}

.trainers h2 {
  margin: 0;

  @include title-desktop;
  padding-bottom: 57px;
  padding-left: 2px;
}

.trainers__info p {
  margin: 0;
  padding-bottom: 31px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #b6bdcc;
}

.trainers__info ul {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 22px;
  text-align: left;
}

.trainers__info li {
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $white;

  &:last-child {
    padding-bottom: 0;
  }
}

.trainers__button-prev,
.trainers__button-next {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  z-index: 5;
  width: 16px;
  height: 32px;
  background: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.trainers__button-prev {
  left: -56px;
}

.trainers__button-next {
  right: -56px;
  transform: rotate(180deg);
}

@media (max-width: 1300px) {
  .trainers__slide-image {
    padding-top: 20px;
  }

  .trainers h3 {
    padding-top: 91%;
  }

  .trainers__info p {
    padding-bottom: 10px;
  }
}

@media (max-width: $tablet-width) {
  .trainers {
    padding-top: 96px;
    padding-bottom: 100px;
  }

  .trainers h2 {
    @include title-tablet;
    padding-bottom: 44px;
    padding-left: 0;
    text-align: center;
  }

  .trainers__nav-wrapper {
    width: 84%;
  }

  .trainers__slide-wrapper {
    padding-bottom: 109.7%;
  }

  .trainers__slide-image {
    padding-top: 50px;
  }

  .trainers h3 {
    padding-top: 78%;
  }

  .trainers__info p {
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .trainers h3 {
    padding-top: 78%;
  }

  .trainers__info p {
    padding-bottom: 31px;
  }
}

@media (max-width: $mobile-width) {
  .trainers {
    padding-top: 66px;
    padding-bottom: 69px;
  }

  .trainers__nav-wrapper {
    width: 78%;
  }

  .trainers__slide-image {
    padding-top: 80px;
    padding-bottom: 12px;
  }

  .trainers__slide-wrapper {
    padding-bottom: 121.24%;
  }

  .trainers__info ul {
    padding-left: 39px;
    padding-right: 18px;
  }

  .trainers__info li {
    padding-bottom: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: $white;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .trainers h2 {
    @include title-mobile;
    padding-bottom: 46px;
    padding-left: 0;
    text-align: center;
  }

  .trainers h3 {
    padding-top: 100%;
  }

  .trainers__info p {
    margin-top: -4px;
    padding-bottom: 34px;
  }

  .trainers__button-prev,
  .trainers__button-next {
    margin-top: -10px;
    z-index: 5;
    width: 16px;
    height: 20px;
  }

  .trainers__button-prev {
    left: -32px;
  }

  .trainers__button-next {
    right: -32px;
  }
}

@media (max-width: 626px) {
  .trainers h3 {
    padding-top: 95%;
  }
}

@media (max-width: 540px) {
  .trainers h3 {
    padding-top: 90%;
  }
}

@media (max-width: 450px) {
  .trainers__slide-image {
    padding-top: 42px;
  }

  .trainers h3 {
    padding-top: 90%;
  }
}
